@model IEnumerable<Proyecto_Final.Models.TRole>

@{
    ViewData["Title"] = "Index";
}

<body class="text-center">
<h1>Roles</h1>

<p>
   <p style="margin-top: 30px;">
    <a asp-action="Create" class="btn btn-primary">Crear nuevo proyecto</a> <!-- Botón azul -->
    </p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nombre del Rol")
            </th>
            <th></th>
        </tr>
    </thead>
    </body>
    <tbody class="text-center">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRol)
            </td>
                <head>
                    <style>
                        a.Colorazul {
                            color: blue; /* Color azul intenso */
                            text-decoration: underline; /* Subrayado enlace */
                        }

                        a.delete-link {
                            color: red; /* Color rojo */
                            text-decoration: underline; /* Subrayado enlace */
                        }
                    </style>
                </head>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdRol" class="Colorazul">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdRol" class="Colorazul">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdRol" class="delete-link">Eliminar</a>
                    </td>
        </tr>
            <a href="/Home" class="btn btn-secondary">Volver al menu principal</a>
}
    </tbody class="text-center">
</table>
