@model Proyecto_Final.Models.TTarea

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles De la tarea</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NivelDificultad).Replace("NivelDificultad", "Nivel de Dificultad")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NivelDificultad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio).Replace("FechaInicio", "Fecha Inicial")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin).Replace("FechaFin", "Plazo Final")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProyectoNavigation).Replace("IdProyectoNavigation", "Nombre Del proyecto")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProyectoNavigation.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation).Replace("IdUsuarioNavigation", "Nombre Del Usuario")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Usuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.IdTarea">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
